/*=========COLOR SWATCHES===============
	Dark Grey      #585952
	Mid Grey	   #bfbfae
	White Grey	   #ebf2f0
	Blue Grey	   #aeb4bf
	Light Blue	   #91cce2
	Blue		   #289dbf
=========COLOR SWATCHES===============*/
/* 
Universal Reset
CSSresetr.com
*/
* {
	padding: 0;
	margin: 0;
}
.submenu{
	margin: 10px !important;
}

body {
	font: 12px "Helvetica Neue", Arial;
	color: #585952;
	margin: 0 auto;
}

h1 {
	font: 26px 'Titillium Web';
}
h2{
	color: #289dbf;
}

li {
	list-style: none;
}

a{
	text-decoration: none;
}
a:link{
	color: #289dbf;
}
a:visited{
	color: #289dbf;
}
a:hover{
	color: #64dbff;
}
a:active{
	color: #289dbf;
}



/*********************************/
/************ SUB-MENU ***********/


.submenu
{
	margin-top: 155px;
	background:#bfbfae; 
	width:157px;
	height:25px;
	margin-bottom:3px;
	list-style-type: none;
	-webkit-backface-visibility: hidden;
	backface-visibility:hidden;
}

.submenu li {
	width: 157px;
	font-size: 0.8em;
	position: relative;
	background: #bfbfae;
	border-top: 1px solid #a1a18c;
}

.submenu a{
	position: absolute;
	float:left;
	color:#fff;
	text-decoration:none;
	width:117px;
	height:25px;
	text-align:center;
	margin: 0;
	padding: 0;
	top: -10px;
}

.submenu a:hover{
	background: none;
	border: none;
}

.link_bg
{
	 width:35px;
	 height:25px;
	 background:#acac93;
	 color:#fff;
	 z-index:2;
}

.link_title
{
	position:absolute;
	width:100%;
	z-index:3;
	color:#fff;
	top: 0;
}
.link_title:hover .icon
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);  
}
.submenu:hover .link_bg
{
	width:157px;
	background:#acac93;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;  
}

.icon
{
	width:35px;
	margin-top:2px;
	text-align:center;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out; 
	-o-transition:all .5s ease-in-out; 
	-ms-transition:all .5s ease-in-out;   
	transition:all .5s ease-in-out;   
	float:left;  
}
.icon i{
	top:0;
}

span
{
	margin-top:3px;
	padding: 6px 0;
	display:block;
	color: #39392e;
	width: 100%;
	text-shadow: 0px 1px 1px #dedede;
}
span:hover{
	color:white;
	text-shadow: none;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out; 
	-o-transition:all .3s ease-in-out; 
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;  
}

/******* END SUB-MENU ********/
/*****************************/
