/*=========COLOR SWATCHES===============
	Dark Grey      #585952
	Mid Grey	   #bfbfae
	White Grey	   #ebf2f0
	Blue Grey	   #aeb4bf
	Light Blue	   #91cce2
	Blue		   #289dbf
=========COLOR SWATCHES===============*/
/* 
Universal Reset
CSSresetr.com
*/
* {
	padding: 0;
	margin: 0;
}


body {
	background: #202020;
	font: 12px "Helvetica Neue", Arial;
	color: #585952;
	margin: 0 auto;
}

h1 {
	font: 26px 'Titillium Web';
}
h2{
	color: #289dbf;
}

li {
	list-style: none;
}

a{
	text-decoration: none;
}
a:link{
	color: #289dbf;
}
a:visited{
	color: #289dbf;
}
a:hover{
	color: #64dbff;
}
a:active{
	color: #289dbf;
}

/*-----This code makes 3 Main ID Containers stretch and change colors-----*/
#header_container {  
	background: url('../images/header.png') repeat-x;
	clear: left;
	border-bottom: 10px #bfbfae solid;
	height: 146px;
}

#home_container { 
	background: url('../images/cta_bg.png') repeat-x;
	background-color: #fff;
	clear: left;
}
#main_container { 
	background-color: #fff;
	clear: left;
}

#footer_container{  
	background: url('../images/footer_bg.png') repeat-x;
	clear: left;
	border-top: 10px #bfbfae solid;
}
/*-----------------End 3 Main Stretched BG Code------------------*/


/*----This code Centers 3 divs inside main containers------*/
.header, .footer, .main { 
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
}
/*------------------BOBY END------------------*/

/*----------Header-----------*/
.logo{
	overflow: hidden;
	float: left;
	padding: 0px;
	margin-top: 60px;
	width: 35.5208%;
	height: 54px;
	background: url('../images/logo.png') no-repeat;
	background-size: contain;
}


.navigation {
	width: 50%;
	float: right;
	margin: 0;
}

.navigation li {
	float: left;
	width: 20%;
}

.navigation a{
	color: #ebf2f0;
	font: 1.67em'Titillium Web';
	width: 100%;
	height: 100%;
	text-align: center;
	float: right;
	padding-top: 80px;
}

.navigation a:hover{
	height: 58px;
	border-bottom: 8px #91cce2 solid;
	background: -webkit-linear-gradient(#91cce2 0%, #289dbf 90%);
	background: -moz-linear-gradient(#91cce2 0%, #289dbf 90%);
}


/*----------Main-------------*/
.message, .columns, .under {
	margin-top: 10px;

}
.cta{
	background: url('../images/cta.png') no-repeat;
	background-size: 100%;
	height: 308px;
}

.cta a {
	color: white;
}

.main h1{
	margin-top: 20px;
}

/*----------Buttons-----------*/


.button div{
	background: url('../images/transparent.png');
	max-width: 41.666%;
	height: 95px;
	float: right;
	margin: 225px 10px 0 0;
	text-align: left;
}
.button h2, .button h4{
	padding-left: 20px;
	width: 220px;
	margin-top: 10px;
	float: left;
}

.button h4{
	color: #bfbfae;
}
.button h2{
	font-size: 1.677em;
	color: #fff;
}
.button .arrow{
	width: 70px;
	height: 95px;
	background: #289dbf;
	margin: -61px 0;
	float: right;
}
.button img{
	margin-top: 10px;
}
.columns2{
	float: left;
	margin: 0;
	padding-top: 20px;
}
.globe, .self, .pool, .sport{
	float: left;
	width: 470px;
	height: 219px;
	margin: 10px 10px 20px 0;
}
.globe div, .self div, .pool div, .sport div{
	background: url('../images/transparent.png');
	float: right;
	margin: 159px 0px 0 0;
	text-align: left;
	width: 470px;
	height: 60px;
}
.globe{
	background-image: url('../images/globe.png');
}
.self{
	background-image: url('../images/selfcontained.png');
}
.pool{
	background-image: url('../images/pool.png');
}
.sport{
	background-image: url('../images/sport.png');
}
.globe h2, .self h2, .pool h2, .sport h2{
	font: 2.083em 'Titillium Web';
	color: white;
	margin-top: 10px;
}
.globe .arrow, .self .arrow, .pool .arrow, .sport .arrow{
	width: 45px;
	height: 60px;
	background: #289dbf;
	margin: -49px 0 0 0;
	overflow: hidden;
}
.globe img, .self img, .pool img, .sport img{
	margin-left: -6px;
	width: 30px;
}

/*----------End Button----------*/


.message {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.message h2{
	text-shadow: 0px 1px 1px white;
	font: 2.3em 'Titillium Web';
	font-style: italic;
	color: #bfbfae;
	padding-top: 16px;	
}
img{
	height: auto;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
}
.columns{
	width: 33.3333%;
	float: left;
    min-height: 1px;
    padding: 0;
    position: relative;
}
.columns h2{
	font: 2.167em 'Titillium Web';
}

h2, p{
	padding: 0px 15px;
	margin-top: 0;
} 

.about{
	width: 66%;
	float: left;
}
.about p{
	padding: 0;
	margin-top: 15px;
}
.about img{
	float: right;
}
#aboutcolumns{
	overflow: hidden;
	width: 33%;
	margin-top: 20px;
	float: right;
}
#aboutcolumns .columns{
	margin-bottom: 20px;
	width: 80%;
	float: right;
}
#aboutcolumns .columns h2{
	font-size: 1.5em;
}

/*----------Contact Form--------------*/
.contact{
	background: #bfbfae;
	max-width: 67.708%;
	margin: 30px 0 30px 0px;
	padding: 10px 0 10px 0;
	float: left;
}
.contact .visit{
	max-width: 100%;
	overflow: hidden;
}
.contact .visit h1, .contact .visit p{
	margin: 10px 0 10px 10px;
	padding: 0;
}
.contact .visit h1{
	width: 50%;
	overflow: hidden;
}
.contact .visit p{
	width: 65%;
	float: left;
}
.contact .visit img{
	float: right;
	padding: 0;
	margin: -40px 20px 0 0;
}
.tab{
	background: white;
	padding: 0px;
	margin-top: 10px;
	margin-left: 10px;
	width: 198px;
	height: 43px;
}
.tab h3{
	padding: 15px 0 0 25px;
}
.contact .form{
	background: #fff;
	margin: 0px 10px;
	width: 93%;
	height: 350px;
	padding: 40px 10px 10px 10px;
}
.form label{
	display: inline-block;
	margin-bottom: 30px;
	padding: 10px 0 0 30px;
	font-size: 14px;
	font-weight: bold;
}
.form input{
	width: 76.923%;
	float: right;
	font-size: medium;
	height: 34px;
}
.form textarea{
	width: 76.923%;
	float: right;
	font-size: medium;
	height: 130px;
}
.form button{
	width: 140px;
	height: 36px;
	float: right;
	margin-top: 12px;
	font-size: small;
	color: #ebf2f0;
	border: 1px #006381 solid;
	background:-webkit-linear-gradient(#2fcfff 0%, #289dbf 6.95%);
	background:-moz-linear-gradient(#2fcfff 0%, #289dbf 6.95%);
}
.form button:hover{
	width: 127px;
	height: 36px;
	float: left;
	margin-top: 12px;
	font-size: small;
	color: #ebf2f0;
	border: 1px #006381 solid;
	background:-webkit-linear-gradient(#64dbff 0%, #00b3ea 6.95%);
	background:-moz-linear-gradient(#64dbff 0%, #00b3ea 6.95%);
}
.map{
	max-width: 260px;
	height: 590px;
	padding: 0;
	margin: 30px 20px 0 0px;
	overflow: hidden;
	float: right;
}
.map h1{
	padding: 0;
	margin: 19px 0;
}
.map .address {
	margin-top: 20px;
}
.map .address p{
	padding: 2px 0;
	font-size: medium;
}


/*----------End Contact Form----------*/

/*----------Lower Section---------*/
.under {
	float: left;
	height: auto;
	margin-bottom: 10px;
}
.under section {
	width: 47.916%;
	height: 120px;
	float: left;
	padding: 10px 0;
	margin: 10px 0px 10px 10px;
}
.under section h3, .under section p{
	padding: 5px 80px 5px 5px;
	margin: 0;
}
.under img{
	padding: 8px 22px 0 10px;
	float: left;
}

/*----------Footer------------*/
.footer_nav{
	float: right;
	margin: 20px 0 48px 0;
}
.footer_nav li{
	float: left;
	width: 60px;
	text-align: center;
}
.footer_nav li a{
	color: #aeb4bf;
}
.footer p{
	padding: 20px 0 0 20px;
	color: #aeb4bf;
	float: left;
}



/* Media Queries------------------------------------*/

	
	/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
	@media screen and (min-width:600px) and (max-width:960px){
		
		#header_container {  
			border-bottom: 10px #bfbfae solid;
			height: 76px;
		}
		.navigation{
			width: 55%;
		}
		.navigation li{
		}
		.navigation a{
			font-size: 1.3em;
			margin: 0;
			padding-top: 25px;
		}
		.navigation li a:hover {
			height: 43px;
		}
		.logo{
			margin: 12px 0 0 10px;
		}
		.under section {
			width: 48%;
			margin: 10px 0 10px 10px;
		}
		.under section h3, .under section p{
			padding: 5px 10px 5px 5px;
		}
		.under img{
			padding: 8px 22px 80px 5px;
			float: left;
			width: 30%;
		}
		.message h2{
			font-size: 1.9em;
		}
		.columns h2{
			font-size: 1.6em;
		}
		.footer_nav{
			float: right;
			padding: 0px;
			margin-top: 20px;
		}
		.footer_nav ul{
			float: right;
		}
		.footer p{
			padding: 20px 0 0 8px;
			font-size: 0.9em;
		}
		.button div{
			max-width: 53%;
		}
		.about {
			padding-left: 10px;
		}
		#aboutcolumns{
			width: 32%;
		}
		#aboutcolumns .columns{
			width: 90%;
		}
		.globe, .self, .pool, .sport{
			width: 97%;
			margin-left: 10px;
			background-size:cover;
		}
		.contact .visit h1{
			width: 60%;
		}
		.contact .visit p{
			width: 90%;
		}
		.contact .form{
			width: 91%;
		}
		.visit img{
			display: none;
		}
	
		.form label{
			padding-left: 15px;
		}
		.map{
			max-width: 27.083%;
			height: 650px;
		}
		.map h1{
			padding: 0;
			margin: 19px 0;
		}
		.map .address {
			margin-top: 20px;
		}
		.map .address p{
			padding: 2px 0;
			font-size: medium;
		}
}
	
	
		/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
	@media screen and (min-width:480px) and (max-width:599px){
		
		#header_container {
			border-bottom: none;
			height: auto;
		}
		.navigation{
			width: 100%;
			margin: 0;
		}
		.navigation li{
			background: #fff;
			display: block;
			width: 100%;
			border-bottom: 4px #bfbfae solid;
		}
		.navigation a{
			font-size: 1.3em;
			margin: 0;
			padding: 5px;
			color: #585952;
		}
		.navigation li a:visited {
			color: #585952;
			background: #ebf2f0;
		}			
		.navigation li a:hover {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}		
		.navigation li a:active {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}
		.logo{
			margin: 20px;
			width: 100%;
		}
		.under section {
			width: 48%;
			margin: 10px 0 10px 10px;
		}
		.under section h3, .under section p{
			padding: 5px 10px 5px 5px;
		}
		.under img{
			padding: 8px 22px 80px 5px;
			float: left;
			width: 30%;
		}
		.message h2{
			font-size: 1.9em;
		}
		.columns h2{
			font-size: 1.6em;
		}
		.footer_nav{
			float: left;
			padding: 0px;
			margin-top: 20px;
		}
		.footer_nav ul{
			float: right;
		}
		.footer p{
			display: none;
		}
		.columns{
			width: 100%;
		}
		.columns img{
			width: 100%;
		}
		.under section p, .under section h3{
			width: 95%;
			padding: 20px 0 0 0;
			margin: 0;
		}
		.under section {
			width: 100%;
		}
		.under section img{
			display: none;
		}
		.cta{
			display: none;
		}
		.message {
			display: none;
		}
		#home_container{
			background-image: none;
		}
		.about{
			width: 97%;
			padding-left: 10px;
		}
		#aboutcolumns{
			float: left;
			width: 100%;
			margin: none;
		}
		#aboutcolumns .columns{
			float: none;
			width: 60%;
			margin: none;
		}
		.globe, .self, .pool, .sport{
			width: 95%;
			margin-left: 10px;
			background-size:cover;
		}
		.globe div, .self div, .pool div, .sport div{
			max-width: 90%;
			margin-right: 50px;
		}
		.contact{
			max-width: 100%;
		}
		.contact .visit h1{
			width: 60%;
		}
		.contact .visit p{
			width: 90%;
		}
		.contact .form{
			width: 91%;
		}
		.visit img{
			display: none;
		}
	
		.form label{
			padding-left: 15px;
		}
		.map{
			float: left;
			max-width: 100%;
			height: auto;
			padding: 0 0 20px 10px;
		}
	}
	
	/*Mobile Landscape size to Tablet Portrait (devices and browsers)*/
	@media screen and (min-width:320px) and (max-width:479px){
		
		#header_container {  
			border-bottom: none;
			height: auto;
		}
		.navigation{
			width: 100%;
			margin: 0;
		}
		.navigation li{
			background: #fff;
			display: block;
			width: 100%;
			border-bottom: 4px #bfbfae solid;
		}
		.navigation a{
			font-size: 1.3em;
			margin: 0;
			padding: 5px;
			color: #585952;
		}
		.navigation li a:visited {
			color: #585952;
			background: #ebf2f0;
		}			
		.navigation li a:hover {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}		
		.navigation li a:active {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}
		.logo{
			margin: 20px;
			width: 90%;
		}
				.footer_nav ul{
			float: right;
		}
		.footer p{
			display: none;
		}
				.columns{
			width: 100%;
		}
		.columns img{
			width: 100%;
		}
		.under section p, .under section h3{
			width: 95%;
			padding: 20px 0 0 0;
			margin: 0;
		}
		.under section {
			width: 100%;
		}
		.under section img{
			display: none;
		}
		.cta{
			display: none;
		}
		.message {
			display: none;
		}
		#home_container{
			background-image: none;
		}
		.about{
			width: 97%;
			padding-left: 10px;
		}
		#aboutcolumns{
			display: none;
		}
		.columns div{
			max-width: 80%;
		}
		
		.globe, .self, .pool, .sport{
			max-width: 100%;
			margin-left: 10px;
		}
		.globe div, .self div, .pool div, .sport div{
			width: 65%;
			margin-right: 160px;
		}
		.columns2 h2{
			font-size: 1.2em;
			max-width: 45%;
			overflow: hidden;
			clear: both;
		}
		.arrow{
			margin-top: 0;
			float: right;
			clear: both;
		}
		.contact{
			max-width: 100%;
		}
		.contact .visit h1{
			width: 80%;
		}
		.contact .visit p{
			width: 90%;
		}
		.contact .form{
			width: 89%;
			height: 410px;
		}
		.contact .form label{
			font-weight: normal;
		}
		.visit img{
			display: none;
		}
	
		.form label{
			padding-left: 0;
		}
		.map{
			float: left;
			max-width: 100%;
			height: auto;
			padding: 0 0 20px 10px;
		}
	}
	
	/*Mobile Portrait size to Mobile Landscape (devices and browsers)*/
	@media screen and (max-width:319px){
	
		#header_container {
			border-bottom: none;
			height: auto;
		}
		.navigation{
			width: 100%;
			margin: 0;
		}
		.navigation li{
			background: #fff;
			display: block;
			width: 100%;
			border-bottom: 4px #bfbfae solid;
		}
		.navigation a{
			font-size: 1.3em;
			margin: 0;
			padding: 5px;
			color: #585952;
		}
		.navigation li a:visited {
			color: #585952;
			background: #ebf2f0;
		}			
		.navigation li a:hover {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}		
		.navigation li a:active {
			color: #fff;
			background: #91cce2;
			height: auto;
			border: none;
		}
		.logo{
			margin: 10px;
			width: 90%;
		}
				.footer_nav ul{
			float: right;
		}
		.footer p{
			display: none;
		}
				.columns{
			width: 100%;
		}
		.columns img{
			width: 100%;
		}
		.under section p, .under section h3{
			width: 85%;
			padding: 20px 0 0 0;
			margin: 0;
		}
		.under section {
			width: 100%;
		}
		.under section img{
			display: none;
		}
		.cta{
			display: none;
		}
		.message {
			display: none;
		}
		#home_container{
			background-image: none;
		}
		.about{
			width: 95%;
			padding-left: 10px;
		}
		#aboutcolumns{
			display: none;
		}
		.globe, .self, .pool, .sport{
			width: 97%;
			margin-left: 10px;
		}
		.globe div, .self div, .pool div, .sport div{
			width: 70%;
		}
		.columns2 h2{
			font-size: 1.2em;
			max-width: 45%;
			overflow: hidden;
			clear: both;
		}
		.arrow{
			margin-top: 0;
			float: right;
			clear: both;
		}
		.contact{
			max-width: 100%;
		}
		.contact .visit{
			overflow: hidden;
		}
		.contact .visit h1{
			width: 60%;
		}
		.contact .visit p{
			width: 90%;
		}
		.contact .form{
			width: 89%;
			height: 450px;
		}
		.contact .form label{
			font-weight: normal;
		}
		.visit img{
			display: none;
		}
	
		.form label{
			padding-left: 0;
			margin: 10px 0 2px 0;
		}
		.form textarea{
			width: 100%;
		}
		.form input{
			width: 100%;
		}
		.map{
			float: left;
			max-width: 90%;
			height: auto;
			padding: 0 0 20px 10px;
		}
	}
